body {
    background-image: url('https://mblogthumb-phinf.pstatic.net/20140324_190/liziah_13956351142212kStC_JPEG/_-4.jpeg?type=w2')
}
h1 {
    font-size: 3em;
    color: #d9534f;
    font-family: 'Fredoka One', cursive;
    text-shadow: 0 0 5px #d9534f;
}

.currencyoptiion{
 display: flex;

}

.container {
    width: 800px;
    background-color: beige;
    margin: 50px;
    border-radius: 40px;
    border:6px solid #d9534f;
}

.input {
    margin: 30px;
}
.output {
    margin: 50px;
}